
@{
    ViewBag.Title = "Index";
}
@* enctype='multipart/form-data is an encoding type that allows files to be sent through a POST. *@
<h2>Index</h2>
@{ 
    if (ViewBag.img!=null)
    {
        string img = Convert.ToBase64String(ViewBag.img);
        string imgsrc = string.Format("data:image/jpg;base64,{0}", img);
        <img src="@imgsrc" alt="Alternate Text" width="100" height="100" />
    }
}